flows.json
[
    {
        "id": "00a2caa125ce1a95",
        "type": "subflow",
        "name": "Check API Token",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 160,
                "wires": [
                    {
                        "id": "22164ae3cb0e58d0"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 480,
                "y": 120,
                "wires": [
                    {
                        "id": "22164ae3cb0e58d0",
                        "port": 0
                    }
                ]
            },
            {
                "x": 480,
                "y": 200,
                "wires": [
                    {
                        "id": "22164ae3cb0e58d0",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "27ac23cbee16190e",
        "type": "comment",
        "z": "00a2caa125ce1a95",
        "name": "",
        "info": "SECURITY CRITICAL\nValidates Bearer token for all REST API endpoints.\nFail closed. No default credentials.\nAny change impacts ALL API endpoints.\n",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "22164ae3cb0e58d0",
        "type": "function",
        "z": "00a2caa125ce1a95",
        "name": "Validate Bearer Token",
        "func": "/**\n * SUBFLOW — CHECK API TOKEN\n *\n * SAFETY CRITICAL\n * - Fail closed\n * - No default credentials\n * - Deterministic behavior only\n */\n\nconst apiToken = global.get(\"API_TOKEN\");\n\nif (!apiToken) {\n    msg.statusCode = 503;\n    msg.payload = {\n        error: \"Service Unavailable\",\n        message: \"API_TOKEN not configured\",\n        timestamp: new Date().toISOString()\n    };\n    return [null, msg];\n}\n\nconst authHeader = msg.req?.headers?.authorization;\n\nif (!authHeader || typeof authHeader !== \"string\") {\n    msg.statusCode = 401;\n    msg.payload = {\n        error: \"Unauthorized\",\n        message: \"Missing Authorization header\",\n        timestamp: new Date().toISOString()\n    };\n    return [null, msg];\n}\n\nif (!authHeader.startsWith(\"Bearer \")) {\n    msg.statusCode = 401;\n    msg.payload = {\n        error: \"Unauthorized\",\n        message: 'Authorization header must start with \"Bearer \"',\n        timestamp: new Date().toISOString()\n    };\n    return [null, msg];\n}\n\nconst providedToken = authHeader.substring(7).trim();\n\nif (providedToken !== apiToken.trim()) {\n    msg.statusCode = 401;\n    msg.payload = {\n        error: \"Unauthorized\",\n        message: \"Invalid Bearer token\",\n        timestamp: new Date().toISOString()\n    };\n    return [null, msg];\n}\n\n// Token valide → sortie 1\nreturn [msg, null];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "09d5526201237c58",
        "type": "tab",
        "label": "Flux Serre - Web",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "47d406aa464cce6e",
        "type": "group",
        "z": "09d5526201237c58",
        "name": "CAPTEURS – Serre",
        "style": {
            "stroke": "none",
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "f0fd3d82e60b5c63",
            "1eeee51335a27dfa",
            "ab6433dba93fcee7",
            "e41ba972db473c87",
            "119786f0eec29670",
            "5a0f7f32aa31b4f6",
            "e91e7f7efa294f5a",
            "d3e83b59d2b3ea1b"
        ],
        "x": 34,
        "y": 819,
        "w": 512,
        "h": 202
    },
    {
        "id": "0bf1c170beedbb51",
        "type": "group",
        "z": "09d5526201237c58",
        "name": "MOTEUR – Arrosage",
        "style": {
            "stroke": "none",
            "fill": "#ffefbf",
            "label": true
        },
        "nodes": [
            "06d5ec4ca8255961",
            "fdf4a7d3418f4adb",
            "5571f30df29f9b6d",
            "c95ea105a2397731"
        ],
        "x": 64,
        "y": 1819,
        "w": 502,
        "h": 142
    },
    {
        "id": "575526f344173600",
        "type": "group",
        "z": "09d5526201237c58",
        "name": "ACTIONNEURS – Serre",
        "style": {
            "stroke": "none",
            "fill": "#dbcbe7",
            "label": true
        },
        "nodes": [
            "27b7fdf391f6d334",
            "fb95f028e5e908a4"
        ],
        "x": 654,
        "y": 1719,
        "w": 252,
        "h": 182
    },
    {
        "id": "82422d9e0408af4f",
        "type": "group",
        "z": "09d5526201237c58",
        "name": "SCHEDULING – Serre",
        "style": {
            "label": true,
            "stroke": "none",
            "fill": "#d1d1d1",
            "fill-opacity": "0.63"
        },
        "nodes": [
            "bdbd2a6e5e70c473",
            "77d86b1deb9e6d48",
            "6b3650b372ed1028",
            "28545858f7500337",
            "1e853384dc29b6cf"
        ],
        "x": 34,
        "y": 19,
        "w": 512,
        "h": 242
    },
    {
        "id": "012ed32f28fd8478",
        "type": "group",
        "z": "09d5526201237c58",
        "name": "INTERFACES – Zigbee2MQTT",
        "style": {
            "label": true,
            "stroke": "none",
            "fill": "#d1d1d1",
            "fill-opacity": "0.63"
        },
        "nodes": [
            "a56466678b7049d5",
            "2c0d49410aaedc80",
            "81dd1840e267981b",
            "5caa16acc14ed03a",
            "59dbce440114642a",
            "c7ca3b51e801a080",
            "c2ee57fe116f390c",
            "805e15d3aaabd4a9",
            "56872cfc23ed126c",
            "4164db4aba294e34",
            "03e0e94e81ed8c07",
            "56c2a8427be10d0e",
            "9807a527cd8a6651",
            "b5337533aed0376c",
            "c122e8d1b53e0a59",
            "e4bc7a2f98ce5d4c",
            "7b54a8016decebbb",
            "49b812dd5f2fee9c",
            "82c69e3122e53bbd",
            "a4cde42c271cc6f1",
            "2832291d9e084c6a",
            "1179ce3287b8a613",
            "5ac194f9fbe6993b",
            "d6a8a21aff435687"
        ],
        "x": 54,
        "y": 1139,
        "w": 980,
        "h": 542
    },
    {
        "id": "37c59a075e86548c",
        "type": "group",
        "z": "09d5526201237c58",
        "name": "CONFIG - SERRE",
        "style": {
            "stroke": "none",
            "fill": "#bfdbef",
            "fill-opacity": "0.65",
            "label": true
        },
        "nodes": [
            "2a2b81012e7da68c",
            "c8cf9d18aac234e7",
            "ad2827aa78e74383",
            "783bbfe2597d636d",
            "1a9646414bf9c766",
            "67955b58eca667f1",
            "cd6e073f9e3df40c",
            "1c3284d1bde67702",
            "8f1bc2801ff90fd0",
            "04e2fc2959c8fd7a",
            "303e99c87d2a203d",
            "4b091ed8e5f40e11",
            "96ed4e8b7de1d567",
            "46f0a3115d363f64",
            "984f20932aa8a358",
            "917a88510b35b647",
            "81eec124a913e23d",
            "9c0f40acc945fb6b",
            "439b63bedbfc537e",
            "537ec8acdf63b6f9",
            "2d5a5c0261aa2b5b",
            "931e393b872b254f",
            "d94d75562c573ad7",
            "2ed49776439f0fc8",
            "89d8bfd009944451",
            "5f75794822efac8e",
            "91e67f3ec48184be",
            "4b70210c305e50ec",
            "3aac288a1d9b2366",
            "b3f3e937e8dc2bca"
        ],
        "x": 34,
        "y": 279,
        "w": 832,
        "h": 502
    },
    {
        "id": "6c2f754015807c78",
        "type": "group",
        "z": "09d5526201237c58",
        "name": "MOTEUR – Climat",
        "style": {
            "stroke": "none",
            "fill": "#ffefbf",
            "label": true
        },
        "nodes": [
            "7e37004be76c9463",
            "01a0d7e463e26b38"
        ],
        "x": 64,
        "y": 1719,
        "w": 282,
        "h": 82
    },
    {
        "id": "074c9e84ed8803ef",
        "type": "group",
        "z": "09d5526201237c58",
        "name": "CONFIG - PHASE CULTURE",
        "style": {
            "stroke": "none",
            "fill": "#bfdbef",
            "fill-opacity": "0.65",
            "label": true
        },
        "nodes": [
            "dca75a9c7625708a",
            "5aa60eeb58a47880"
        ],
        "x": 894,
        "y": 279,
        "w": 412,
        "h": 82
    },
    {
        "id": "ef5c7c32fc9239f9",
        "type": "group",
        "z": "09d5526201237c58",
        "name": "MOTEUR – Culture",
        "style": {
            "stroke": "none",
            "fill": "#ffefbf",
            "label": true
        },
        "nodes": [
            "f74a8117afbcca8e",
            "9b866f1d00b664a6",
            "deb90d9eb94f426f",
            "260c68db6566b578",
            "5f043ada6e432f9a"
        ],
        "x": 894,
        "y": 439,
        "w": 672,
        "h": 142
    },
    {
        "id": "f1c22f4154595f02",
        "type": "group",
        "z": "09d5526201237c58",
        "name": "MOTEUR – Failsafe",
        "style": {
            "stroke": "none",
            "fill": "#ffefbf",
            "label": true
        },
        "nodes": [
            "42dbace5d46e024d",
            "1c276bf49334e81c",
            "7dcacfcf5038772c",
            "98f60e5658145079"
        ],
        "x": 54,
        "y": 1979,
        "w": 692,
        "h": 142
    },
    {
        "id": "4f5c507a698122b0",
        "type": "group",
        "z": "09d5526201237c58",
        "name": "CAPTEURS - Sécurité",
        "style": {
            "stroke": "none",
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "7d88c989d6a58caa",
            "0d66a61c468f0d5c",
            "5480ec5e07655274",
            "6b0192c3bc157d1a",
            "a09bf5164ebd71ce",
            "2a1836fba230807b",
            "381043caf4f2c31e",
            "8a17b6ec92990948",
            "607889d47084798b"
        ],
        "x": 584,
        "y": 819,
        "w": 812,
        "h": 242
    },
    {
        "id": "3090a3fb4e2eee15",
        "type": "group",
        "z": "09d5526201237c58",
        "name": "FAILSAFE – Global",
        "style": {
            "stroke": "none",
            "fill": "#d1d1d1",
            "fill-opacity": "0.63",
            "label": true
        },
        "nodes": [
            "b40cbe1a7a0a65b4",
            "ad58ccbbdfdfa0b7",
            "6ac0c73308bddbaa",
            "fc93452e5d481183",
            "5164de425819f4e1",
            "2e9a3f53332e2ae8",
            "b982956e4ec0e846",
            "ca82915aac3b4648"
        ],
        "x": 54,
        "y": 2159,
        "w": 912,
        "h": 222
    },
    {
        "id": "2556427a6951f00e",
        "type": "group",
        "z": "09d5526201237c58",
        "name": "COMMANDES WEB – Validation Failsafe",
        "style": {
            "stroke": "none",
            "fill": "#ffefbe",
            "fill-opacity": "0.5",
            "label": true
        },
        "nodes": [
            "7f32f9aec53366db",
            "7877cc32c686ce5b",
            "57f6a243712df733"
        ],
        "x": 54,
        "y": 2419,
        "w": 712,
        "h": 82
    },
    {
        "id": "a9525423c34e0954",
        "type": "group",
        "z": "09d5526201237c58",
        "name": "API REST",
        "style": {
            "label": true,
            "stroke": "#0070c0",
            "fill": "#e3f3ff",
            "fill-opacity": "0.5"
        },
        "nodes": [
            "c583f716d096f987",
            "1c0700e1d51ab7da",
            "63c2e383c434603e",
            "36b14a4b55af29ff",
            "2961b39b2d992b22",
            "30bd5433fc12a0e8",
            "95c5420766a925d5",
            "c9ed75eff56af9cb",
            "33f30db24f2a13ab",
            "976357ae21924209",
            "579825f37df9ac58",
            "18d7a119991c12b6",
            "a58c34705671be02",
            "d41b84164ae6756a",
            "bbf4114aa8d3d73a",
            "1a4a370c72eb11c6",
            "6638ee59584c7d6f",
            "c2a12695d70067ad",
            "8e530661e4c66220",
            "90607c423f939a0f",
            "3186ed7247814a2c",
            "9641bf49fb1b8beb",
            "711e717584767af0",
            "adfad19cd290a057",
            "16f1e7ddb4ae206f",
            "f19eafb65c2eed17",
            "cb0013a0afbd58f1",
            "d04383aeddb43531",
            "771c23876e8a0bb8",
            "bebe53324d7c8650",
            "3cec315f212c28c0"
        ],
        "x": 24,
        "y": 2539,
        "w": 1282,
        "h": 642
    },
    {
        "id": "a56466678b7049d5",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Zigbee2MQTT IN",
        "topic": "zigbee2mqtt/#",
        "qos": "0",
        "datatype": "json",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1180,
        "wires": [
            [
                "2c0d49410aaedc80"
            ]
        ]
    },
    {
        "id": "2c0d49410aaedc80",
        "type": "switch",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Filtre capteur Aqara",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "aqara_temperature",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 1180,
        "wires": [
            [
                "a4cde42c271cc6f1"
            ]
        ]
    },
    {
        "id": "81dd1840e267981b",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Extract temp / hum",
        "func": "// Sécurité payload\nif (!msg.payload) return null;\n\nlet msgs = [];\n\nif (typeof msg.payload.temperature === 'number') {\n  msgs.push({\n    topic: \"serre/capteurs/air/temperature\",\n    payload: msg.payload.temperature\n  });\n\n  node.warn(\"Temp air :\" + msg.payload.temperature);\n}\n\nif (typeof msg.payload.humidity === 'number') {\n  msgs.push({\n    topic: \"serre/capteurs/air/humidity\",\n    payload: msg.payload.humidity\n  });\n   node.warn(\"Hum air :\" + msg.payload.humidity);\n}\n\nreturn msgs;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1180,
        "wires": [
            [
                "5caa16acc14ed03a"
            ]
        ]
    },
    {
        "id": "5caa16acc14ed03a",
        "type": "mqtt out",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Serre MQTT OUT",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bb5d48e46d3d908d",
        "x": 918,
        "y": 1280,
        "wires": []
    },
    {
        "id": "59dbce440114642a",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Z2M Lampe (state)",
        "topic": "zigbee2mqtt/prise_lampe",
        "qos": "2",
        "datatype": "json",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 1240,
        "wires": [
            [
                "c7ca3b51e801a080"
            ]
        ]
    },
    {
        "id": "c7ca3b51e801a080",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Extract Lampe state",
        "func": "if (!msg.payload || !msg.payload.state) return null;\nmsg.topic = \"serre/actionneurs/lampe/state\";\nmsg.payload = msg.payload.state;\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 1240,
        "wires": [
            [
                "5caa16acc14ed03a"
            ]
        ]
    },
    {
        "id": "c2ee57fe116f390c",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Serre Lampe SET",
        "topic": "serre/actionneurs/lampe/set",
        "qos": "2",
        "datatype": "auto",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 1640,
        "wires": [
            [
                "805e15d3aaabd4a9"
            ]
        ]
    },
    {
        "id": "805e15d3aaabd4a9",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Lampe → Zigbee",
        "func": "let cmd = (\"\" + msg.payload).toUpperCase();\n\nmsg.topic = \"zigbee2mqtt/prise_lampe/set\";\nmsg.payload = {\n  state: cmd\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1640,
        "wires": [
            [
                "56872cfc23ed126c"
            ]
        ]
    },
    {
        "id": "56872cfc23ed126c",
        "type": "mqtt out",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Z2M Lampe OUT",
        "topic": "",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bb5d48e46d3d908d",
        "x": 730,
        "y": 1640,
        "wires": []
    },
    {
        "id": "4164db4aba294e34",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Z2M Extracteur (state)",
        "topic": "zigbee2mqtt/prise_extracteur",
        "qos": "2",
        "datatype": "json",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 180,
        "y": 1360,
        "wires": [
            [
                "03e0e94e81ed8c07"
            ]
        ]
    },
    {
        "id": "03e0e94e81ed8c07",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Extract Extracteur state",
        "func": "if (!msg.payload || !msg.payload.state) return null;\n\nmsg.topic = \"serre/actionneurs/extracteur/state\";\nmsg.payload = msg.payload.state;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1360,
        "wires": [
            [
                "5caa16acc14ed03a"
            ]
        ]
    },
    {
        "id": "56c2a8427be10d0e",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Serre Extracteur SET",
        "topic": "serre/actionneurs/extracteur/set",
        "qos": "2",
        "datatype": "auto",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 180,
        "y": 1520,
        "wires": [
            [
                "9807a527cd8a6651"
            ]
        ]
    },
    {
        "id": "9807a527cd8a6651",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Extracteur → Zigbee",
        "func": "let cmd = (\"\" + msg.payload).toUpperCase();\n\nmsg.topic = \"zigbee2mqtt/prise_extracteur/set\";\nmsg.payload = {\n  state: cmd\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1520,
        "wires": [
            [
                "b5337533aed0376c"
            ]
        ]
    },
    {
        "id": "b5337533aed0376c",
        "type": "mqtt out",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Z2M Extracteur OUT",
        "topic": "",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bb5d48e46d3d908d",
        "x": 740,
        "y": 1520,
        "wires": []
    },
    {
        "id": "c122e8d1b53e0a59",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Z2M Chauffage (state)",
        "topic": "zigbee2mqtt/prise_chauffage",
        "qos": "2",
        "datatype": "json",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 180,
        "y": 1300,
        "wires": [
            [
                "e4bc7a2f98ce5d4c"
            ]
        ]
    },
    {
        "id": "e4bc7a2f98ce5d4c",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Extract Chauffage state",
        "func": "// CRITICAL FIX: Publish to correct chauffage topic, not extracteur\n// This ensures state updates reach the right actuator context in flow\n// Prevents state confusion between heating and extraction systems\nif (!msg.payload || !msg.payload.state) return null;\n\nmsg.topic = \"serre/actionneurs/chauffage/state\";\nmsg.payload = msg.payload.state;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1300,
        "wires": [
            [
                "5caa16acc14ed03a"
            ]
        ]
    },
    {
        "id": "7b54a8016decebbb",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Serre Chauffage SET",
        "topic": "serre/actionneurs/chauffage/set",
        "qos": "2",
        "datatype": "auto",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 180,
        "y": 1580,
        "wires": [
            [
                "49b812dd5f2fee9c"
            ]
        ]
    },
    {
        "id": "49b812dd5f2fee9c",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Chauffage → Zigbee",
        "func": "let cmd = (\"\" + msg.payload).toUpperCase();\n\nmsg.topic = \"zigbee2mqtt/prise_chauffage/set\";\nmsg.payload = {\n  state: cmd\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1580,
        "wires": [
            [
                "82c69e3122e53bbd"
            ]
        ]
    },
    {
        "id": "82c69e3122e53bbd",
        "type": "mqtt out",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Z2M Chauffage OUT",
        "topic": "",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bb5d48e46d3d908d",
        "x": 740,
        "y": 1580,
        "wires": []
    },
    {
        "id": "ab6433dba93fcee7",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "47d406aa464cce6e",
        "name": "temp_air",
        "topic": "serre/capteurs/air/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 980,
        "wires": [
            [
                "e41ba972db473c87"
            ]
        ]
    },
    {
        "id": "7e37004be76c9463",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "6c2f754015807c78",
        "name": "Climat engine",
        "func": "// === FAILSAFE : priorité GLOBAL > SPECIFIC ===\nconst allowGlobal = flow.get('allow_global') === true;\nif (!allowGlobal) {\n    \n    return null;\n}\n\nconst allowClimat = flow.get('allow_climat') === true;\nif (!allowClimat) {\n    \n    return null;\n}\n\n// === LOGIQUE METIER ===\nlet temp = Number(msg.payload);\nlet tempMin = Number(flow.get('temp_min') ?? 18);\nlet tempMax = Number(flow.get('temp_max') ?? 28);\nlet nuit = flow.get('mode_nuit') === true;\nif (nuit) {\n  tempMin = Number(flow.get('temp_min_nuit') ?? tempMin);\n  tempMax = Number(flow.get('temp_max_nuit') ?? tempMax);\n}\n\nlet auto = flow.get('auto_mode') !== false;\nlet hyst = 1; // hystérésis fixe (1 °C)\n\nif (!auto || isNaN(temp)) return null;\n\nlet hum = Number(flow.get('hum_air'));\nlet humMax = Number(flow.get('hum_max') ?? 75);\nif (isNaN(hum)) {\n  hum = -1; // humidité inconnue → ignorée\n}\n\nlet out = [];\n\n// Chauffage\nlet chauffage = flow.get('chauffage') || 'OFF';\nif (temp < tempMin && chauffage === 'OFF') {\n  chauffage = 'ON';\n  out.push({ topic: 'serre/actionneurs/chauffage/set', payload: 'ON' });\n}\nif (temp > tempMin + hyst && chauffage === 'ON') {\n  chauffage = 'OFF';\n  out.push({ topic: 'serre/actionneurs/chauffage/set', payload: 'OFF' });\n}\nflow.set('chauffage', chauffage);\n\n// Extracteur\nlet extracteur = flow.get('extracteur') || 'OFF';\n\n// ON si température OU humidité trop élevée\nif (\n  extracteur === 'OFF' &&\n  (\n    temp > tempMax ||\n    (hum >= 0 && hum > humMax)\n  )\n) {\n  extracteur = 'ON';\n  out.push({\n    topic: 'serre/actionneurs/extracteur/set',\n    payload: 'ON'\n  });\n}\n\n// OFF seulement si T° ET humidité OK\nif (\n  extracteur === 'ON' &&\n  temp < tempMax - hyst &&\n  (hum < 0 || hum < humMax - 5)\n) {\n  extracteur = 'OFF';\n  out.push({\n    topic: 'serre/actionneurs/extracteur/set',\n    payload: 'OFF'\n  });\n}\n\nflow.set('extracteur', extracteur);\n\nreturn out;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 1760,
        "wires": [
            [
                "27b7fdf391f6d334"
            ]
        ]
    },
    {
        "id": "27b7fdf391f6d334",
        "type": "mqtt out",
        "z": "09d5526201237c58",
        "g": "575526f344173600",
        "name": "Climat → Actionneurs",
        "topic": "",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bb5d48e46d3d908d",
        "x": 780,
        "y": 1760,
        "wires": []
    },
    {
        "id": "c8cf9d18aac234e7",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "temp_min",
        "topic": "serre/config/temp_min",
        "qos": "0",
        "datatype": "utf8",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 320,
        "wires": [
            [
                "2a2b81012e7da68c"
            ]
        ]
    },
    {
        "id": "2a2b81012e7da68c",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "Set temp min",
        "func": "if (flow.get('culture_active')) {\n    \n    return null;\n}\n\nflow.set('temp_min', Number(msg.payload));\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ad2827aa78e74383",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "temp_max",
        "topic": "serre/config/temp_max",
        "qos": "0",
        "datatype": "utf8",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 380,
        "wires": [
            [
                "783bbfe2597d636d"
            ]
        ]
    },
    {
        "id": "783bbfe2597d636d",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "Set temp max",
        "func": "if (flow.get('culture_active')) {\n    \n    return null;\n}\n\n\nflow.set('temp_max', Number(msg.payload));\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "1a9646414bf9c766",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "auto_mode",
        "topic": "serre/config/auto_mode",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 500,
        "y": 440,
        "wires": [
            [
                "67955b58eca667f1"
            ]
        ]
    },
    {
        "id": "67955b58eca667f1",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "Set auto mode",
        "func": "flow.set('auto_mode', msg.payload === true || msg.payload === 'true');\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "f0fd3d82e60b5c63",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "47d406aa464cce6e",
        "name": "hum_air",
        "topic": "serre/capteurs/air/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 860,
        "wires": [
            [
                "1eeee51335a27dfa"
            ]
        ]
    },
    {
        "id": "1eeee51335a27dfa",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "47d406aa464cce6e",
        "name": "Set hum air",
        "func": "flow.set('hum_air', Number(msg.payload));\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "1c3284d1bde67702",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "hum_max",
        "topic": "serre/config/hum_max",
        "qos": "0",
        "datatype": "utf8",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 440,
        "wires": [
            [
                "cd6e073f9e3df40c"
            ]
        ]
    },
    {
        "id": "cd6e073f9e3df40c",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "Set hum max",
        "func": "if (flow.get('culture_active')) {\n    \n    return null;\n}\n\nflow.set('hum_max', Number(msg.payload));\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "8f1bc2801ff90fd0",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "mode_nuit",
        "topic": "serre/config/mode_nuit",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 560,
        "wires": [
            [
                "04e2fc2959c8fd7a"
            ]
        ]
    },
    {
        "id": "04e2fc2959c8fd7a",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "set mode nuit",
        "func": "// FIX: Store mode_nuit in correct context variable, not auto_mode\n// Side effect: previously was overwriting auto_mode flag, causing night mode config\n// to disable automatic climate control instead of switching temperature thresholds\nflow.set('mode_nuit', msg.payload === true || msg.payload === 'true');\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "303e99c87d2a203d",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "temp_min_nuit",
        "topic": "serre/config/temp_min_nuit",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 520,
        "y": 320,
        "wires": [
            [
                "4b091ed8e5f40e11"
            ]
        ]
    },
    {
        "id": "4b091ed8e5f40e11",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "set temp nuit",
        "func": "flow.set('temp_min_nuit', Number(msg.payload));\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "96ed4e8b7de1d567",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "temp_max_nuit",
        "topic": "serre/config/temp_max_nuit",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 520,
        "y": 380,
        "wires": [
            [
                "46f0a3115d363f64"
            ]
        ]
    },
    {
        "id": "46f0a3115d363f64",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "set temp nuit",
        "func": "flow.set('temp_max_nuit', Number(msg.payload));\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "bdbd2a6e5e70c473",
        "type": "inject",
        "z": "09d5526201237c58",
        "d": true,
        "g": "82422d9e0408af4f",
        "name": "Mode NUIT (22:00)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "6b3650b372ed1028"
            ]
        ]
    },
    {
        "id": "77d86b1deb9e6d48",
        "type": "inject",
        "z": "09d5526201237c58",
        "g": "82422d9e0408af4f",
        "name": "Mode JOUR (08:00)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 08 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "6b3650b372ed1028"
            ]
        ]
    },
    {
        "id": "6b3650b372ed1028",
        "type": "mqtt out",
        "z": "09d5526201237c58",
        "g": "82422d9e0408af4f",
        "name": "Config Mode Nuit OUT",
        "topic": "serre/config/mode_nuit",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bb5d48e46d3d908d",
        "x": 420,
        "y": 100,
        "wires": []
    },
    {
        "id": "28545858f7500337",
        "type": "inject",
        "z": "09d5526201237c58",
        "g": "82422d9e0408af4f",
        "name": "Init au démarrage",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "1e853384dc29b6cf"
            ]
        ]
    },
    {
        "id": "1e853384dc29b6cf",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "82422d9e0408af4f",
        "name": "Set Start Timestamp",
        "func": "// Initialiser le timestamp de démarrage Node-RED\nglobal.set('nr_start_ts', Date.now());\nnode.status({fill:'green', shape:'dot', text:'Démarrage: ' + new Date().toLocaleString()});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e41ba972db473c87",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "47d406aa464cce6e",
        "name": "Set temp air",
        "func": "// const value = Number(msg.payload);\n// if (isNaN(value)) return null;\n\n// // flow.set(\"temp_air\", value);\n// // stockage global (partagé API / moteurs / dashboard)\n// global.set(\"temp_air\", value);\n\n// // debug explicite\n// node.warn(\"SET global.temp_air = \" + global.get(\"temp_air\"));\n\n// return msg;\nflow.set('temp_air', Number(msg.payload));\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 980,
        "wires": [
            [
                "119786f0eec29670"
            ]
        ]
    },
    {
        "id": "119786f0eec29670",
        "type": "link out",
        "z": "09d5526201237c58",
        "g": "47d406aa464cce6e",
        "name": "trigger_climat",
        "mode": "link",
        "links": [
            "01a0d7e463e26b38"
        ],
        "x": 505,
        "y": 980,
        "wires": []
    },
    {
        "id": "01a0d7e463e26b38",
        "type": "link in",
        "z": "09d5526201237c58",
        "g": "6c2f754015807c78",
        "name": "trigger_climat",
        "links": [
            "119786f0eec29670"
        ],
        "x": 105,
        "y": 1760,
        "wires": [
            [
                "7e37004be76c9463"
            ]
        ]
    },
    {
        "id": "5a0f7f32aa31b4f6",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "47d406aa464cce6e",
        "name": "hum_sol",
        "topic": "serre/capteurs/sol/humidite",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 920,
        "wires": [
            [
                "e91e7f7efa294f5a"
            ]
        ]
    },
    {
        "id": "e91e7f7efa294f5a",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "47d406aa464cce6e",
        "name": "Set hum sol",
        "func": "flow.set(\"hum_sol\", Number(msg.payload));\nmsg._from_hum_sol = true;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 920,
        "wires": [
            [
                "d3e83b59d2b3ea1b"
            ]
        ]
    },
    {
        "id": "984f20932aa8a358",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "sol_min",
        "topic": "serre/config/sol_min",
        "qos": "0",
        "datatype": "utf8",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 620,
        "wires": [
            [
                "917a88510b35b647"
            ]
        ]
    },
    {
        "id": "917a88510b35b647",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "Set sol_min",
        "func": "if (flow.get('culture_active')) {\n    \n    return null;\n}\n\nflow.set('sol_min', Number(msg.payload));\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "81eec124a913e23d",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "sol_max",
        "topic": "serre/config/sol_max",
        "qos": "0",
        "datatype": "utf8",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 680,
        "wires": [
            [
                "9c0f40acc945fb6b"
            ]
        ]
    },
    {
        "id": "9c0f40acc945fb6b",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "Set sol_max",
        "func": "if (flow.get('culture_active')) {\n    \n    return null;\n}\nflow.set('sol_max', Number(msg.payload));\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "06d5ec4ca8255961",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "0bf1c170beedbb51",
        "name": "Arrosage engine",
        "func": "// === FAILSAFE : priorité GLOBAL > SPECIFIC ===\nconst allowGlobal = flow.get('allow_global') === true;\nif (!allowGlobal) {\n    \n    return null;\n}\n\n// Arrosage bloqué par: failsafe, culture en séchage\nconst allowArrosage = flow.get('allow_arrosage') === true;\nif (!allowArrosage) {\n    \n    return null;\n}\n\n// === LOGIQUE METIER ===\nconst hum = flow.get('hum_sol');\nconst min = flow.get('sol_min');\nconst max = flow.get('sol_max');\n\n// Sécurité\nif (hum === undefined || min === undefined || max === undefined) {\n    return null;\n}\n\nlet arrosage = flow.get('arrosage_actif') || false;\n\nif (hum < min) {\n    arrosage = true;\n}\nelse if (hum > max) {\n    arrosage = false;\n}\n\n// mémorisation\nflow.set('arrosage_actif', arrosage);\n\n// sortie intention\nmsg.payload = arrosage ? 'ON' : 'OFF';\nmsg.topic = 'serre/arrosage/intention';\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 1860,
        "wires": [
            [
                "5571f30df29f9b6d"
            ]
        ]
    },
    {
        "id": "d3e83b59d2b3ea1b",
        "type": "link out",
        "z": "09d5526201237c58",
        "g": "47d406aa464cce6e",
        "name": "trigger_arrosage",
        "mode": "link",
        "links": [
            "fdf4a7d3418f4adb",
            "7d88c989d6a58caa"
        ],
        "x": 505,
        "y": 920,
        "wires": []
    },
    {
        "id": "fdf4a7d3418f4adb",
        "type": "link in",
        "z": "09d5526201237c58",
        "g": "0bf1c170beedbb51",
        "name": "trigger_arrosage",
        "links": [
            "d3e83b59d2b3ea1b"
        ],
        "x": 105,
        "y": 1860,
        "wires": [
            [
                "06d5ec4ca8255961"
            ]
        ]
    },
    {
        "id": "5571f30df29f9b6d",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "0bf1c170beedbb51",
        "name": "Arrosage pulse",
        "func": "// ===================================================\n// ARROSAGE PULSE — VERSION STABLE & ANTI-SPAM\n// ===================================================\n// - OFF envoyé uniquement si changement réel\n// - pompe_state toujours synchronisé\n// - failsafe > confort\n// ===================================================\n\nconst intention = msg.payload; // \"ON\" / \"OFF\"\n\n// Paramètres (avec valeurs sûres par défaut)\nconst pulseDuration = flow.get('pulse_duration') || 5;   // secondes\nconst pauseDuration = flow.get('pause_duration') || 60;  // secondes\nconst maxPulses     = flow.get('max_pulses') || 3;\n\n// État interne\nlet running = flow.get('pulse_running') || false;\nlet count   = flow.get('pulse_count') || 0;\nlet state   = flow.get('pompe_state') || 'OFF';\n\n// ---------------------------------------------------\n// STOP IMMÉDIAT (intention OFF)\n// ---------------------------------------------------\nif (intention === \"OFF\") {\n\n    // Reset moteur\n    flow.set('pulse_running', false);\n    flow.set('pulse_count', 0);\n\n    // OFF uniquement si nécessaire\n    if (state !== 'OFF') {\n        flow.set('pompe_state', 'OFF');\n        return {\n            topic: \"serre/actionneurs/pompe/set\",\n            payload: \"OFF\"\n        };\n    }\n\n    return null; // 🚫 aucun spam\n}\n\n// ---------------------------------------------------\n// DÉMARRAGE DU CYCLE (intention ON)\n// ---------------------------------------------------\nif (intention === \"ON\" && !running) {\n    running = true;\n    count = 0;\n    flow.set('pulse_running', true);\n    flow.set('pulse_count', 0);\n}\n\n// Pas actif → rien à faire\nif (!running) {\n    return null;\n}\n\n// ---------------------------------------------------\n// SÉCURITÉ : LIMITE DE PULSES\n// ---------------------------------------------------\nif (count >= maxPulses) {\n\n    flow.set('pulse_running', false);\n    flow.set('pulse_count', 0);\n\n    if (state !== 'OFF') {\n        flow.set('pompe_state', 'OFF');\n        return {\n            topic: \"serre/actionneurs/pompe/set\",\n            payload: \"OFF\"\n        };\n    }\n\n    return null;\n}\n\n// ---------------------------------------------------\n// PULSE ON\n// ---------------------------------------------------\nflow.set('pulse_count', count + 1);\nflow.set('pompe_state', 'ON');\n\n// ON immédiat\nnode.send({\n    topic: \"serre/actionneurs/pompe/set\",\n    payload: \"ON\"\n});\n\n// OFF après durée du pulse\nsetTimeout(() => {\n    flow.set('pompe_state', 'OFF');\n    node.send({\n        topic: \"serre/actionneurs/pompe/set\",\n        payload: \"OFF\"\n    });\n}, pulseDuration * 1000);\n\n// Prochain cycle après pause\nsetTimeout(() => {\n    node.send({\n        topic: \"serre/arrosage/next\",\n        payload: \"NEXT\"\n    });\n}, (pulseDuration + pauseDuration) * 1000);\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1860,
        "wires": [
            [
                "fb95f028e5e908a4"
            ]
        ]
    },
    {
        "id": "fb95f028e5e908a4",
        "type": "mqtt out",
        "z": "09d5526201237c58",
        "g": "575526f344173600",
        "name": "Pompe SET",
        "topic": "serre/actionneurs/pompe/set",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bb5d48e46d3d908d",
        "x": 750,
        "y": 1860,
        "wires": []
    },
    {
        "id": "439b63bedbfc537e",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "pulse_duration",
        "topic": "serre/config/arrosage/pulse_duration",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 520,
        "y": 500,
        "wires": [
            [
                "537ec8acdf63b6f9"
            ]
        ]
    },
    {
        "id": "537ec8acdf63b6f9",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "Set pulse_duration",
        "func": "flow.set('pulse_duration', Number(msg.payload));\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "2d5a5c0261aa2b5b",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "pause_duration",
        "topic": "serre/config/arrosage/pause_duration",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 520,
        "y": 560,
        "wires": [
            [
                "931e393b872b254f"
            ]
        ]
    },
    {
        "id": "931e393b872b254f",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "Set pause duration",
        "func": "flow.set('pause_duration', Number(msg.payload));\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "d94d75562c573ad7",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "max_pulses",
        "topic": "serre/config/arrosage/max_pulses",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 620,
        "wires": [
            [
                "2ed49776439f0fc8"
            ]
        ]
    },
    {
        "id": "2ed49776439f0fc8",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "Set max pulses",
        "func": "flow.set('max_pulses', Number(msg.payload));\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "c95ea105a2397731",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "0bf1c170beedbb51",
        "name": "arrosage_next",
        "topic": "serre/arrosage/next",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1920,
        "wires": [
            [
                "5571f30df29f9b6d"
            ]
        ]
    },
    {
        "id": "dca75a9c7625708a",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "074c9e84ed8803ef",
        "name": "culture_phase",
        "topic": "serre/culture/phase",
        "qos": "0",
        "datatype": "utf8",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 990,
        "y": 320,
        "wires": [
            [
                "5aa60eeb58a47880"
            ]
        ]
    },
    {
        "id": "5aa60eeb58a47880",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "074c9e84ed8803ef",
        "name": "Set culture phase",
        "func": "const phase = msg.payload;\n\nflow.set('culture_phase', phase);\nflow.set('culture_active', true);\n\nnode.warn(`Culture | phase active = ${phase}`);\n\nreturn msg;   // ← DÉCLENCHE Culture engine\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 320,
        "wires": [
            [
                "f74a8117afbcca8e"
            ]
        ]
    },
    {
        "id": "f74a8117afbcca8e",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "ef5c7c32fc9239f9",
        "name": "Culture engine",
        "func": "// ==========================================\n// CULTURE ENGINE — OPTION A\n// Une phase = climat + arrosage + durée\n// ==========================================\n\n// Phase reçue (MQTT serre/culture/phase)\nconst phase = msg.payload;\n\n// Sécurité\nif (!phase) {\n    node.warn(\"Culture | aucune phase reçue\");\n    return null;\n}\n\n// ==========================================\n// PROFILS DE CULTURE\n// ==========================================\nconst profiles = {\n    germination: {\n        duration_days: 7,\n        temp_min: 22,\n        temp_max: 26,\n        hum_min: 65,\n        hum_max: 80,\n        sol_min: 40,\n        sol_max: 60,\n        auto_mode: true\n    },\n\n    vegetatif: {\n        duration_days: 21,\n        temp_min: 20,\n        temp_max: 27,\n        hum_min: 55,\n        hum_max: 70,\n        sol_min: 35,\n        sol_max: 55,\n        auto_mode: true\n    },\n\n    floraison: {\n        duration_days: 49,\n        temp_min: 18,\n        temp_max: 25,\n        hum_min: 40,\n        hum_max: 55,\n        sol_min: 30,\n        sol_max: 45,\n        auto_mode: true\n    },\n\n    drying: {\n        duration_days: 14,\n        temp_min: 18,\n        temp_max: 22,\n        hum_min: 50,\n        hum_max: 60,\n        sol_min: 0,     // pas d’arrosage\n        sol_max: 0,\n        auto_mode: false\n    }\n};\n\n// ==========================================\n// VALIDATION PHASE\n// ==========================================\nif (!profiles[phase]) {\n    node.warn(`Culture | phase inconnue : ${phase}`);\n    return null;\n}\n\n// ==========================================\n// APPLICATION DU PROFIL\n// ==========================================\nconst profile = profiles[phase];\n\n// Initialisation temporelle\nconst startTs = Date.now();\n\nflow.set(\"culture_phase\", phase);\nflow.set(\"culture_active\", true);\nflow.set(\"culture_start_ts\", startTs);\nflow.set(\"culture_duration_days\", profile.duration_days);\n\nnode.warn(\n    `Culture | ${phase} démarrée (${profile.duration_days} jours)`\n);\n\n// ==========================================\n// PUBLICATION DES CONFIGS\n// ==========================================\nlet msgs = [];\n\nfor (const key in profile) {\n    if (key === \"duration_days\") continue;\n\n    msgs.push({\n        topic: `serre/config/${key}`,\n        payload: profile[key],\n        retain: true\n    });\n}\n\n// ==========================================\n// SORTIE\n// ==========================================\nreturn [msgs];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 480,
        "wires": [
            [
                "9b866f1d00b664a6"
            ]
        ]
    },
    {
        "id": "9b866f1d00b664a6",
        "type": "mqtt out",
        "z": "09d5526201237c58",
        "g": "ef5c7c32fc9239f9",
        "name": "Culture → Config",
        "topic": "",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bb5d48e46d3d908d",
        "x": 1450,
        "y": 480,
        "wires": []
    },
    {
        "id": "89d8bfd009944451",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "hum_min",
        "topic": "serre/config/hum_min",
        "qos": "0",
        "datatype": "utf8",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 500,
        "wires": [
            [
                "5f75794822efac8e"
            ]
        ]
    },
    {
        "id": "5f75794822efac8e",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "Set hum min",
        "func": "if (flow.get('culture_active')) {\n    \n    return null;\n}\nflow.set('hum_min', Number(msg.payload));\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "deb90d9eb94f426f",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "ef5c7c32fc9239f9",
        "name": "Culture time status",
        "func": "// ==========================================\n// CULTURE TIME STATUS\n// Calcule l'état temporel de la culture\n// ==========================================\n\nconst phase = flow.get(\"culture_phase\");\nconst startTs = flow.get(\"culture_start_ts\");\nconst durationDays = flow.get(\"culture_duration_days\");\n\nif (!phase || !startTs || !durationDays) {\n    node.warn(\"Culture status | données incomplètes\");\n    return null;\n}\n\nconst now = Date.now();\n\nconst elapsedDays = Math.floor((now - startTs) / 86400000);\nconst remainingDays = Math.max(durationDays - elapsedDays, 0);\n\nmsg.topic = \"serre/culture/status\";\nmsg.payload = {\n    phase: phase,\n    start_ts: startTs,\n    elapsed_days: elapsedDays,\n    remaining_days: remainingDays,\n    duration_days: durationDays\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 540,
        "wires": [
            [
                "5f043ada6e432f9a"
            ]
        ]
    },
    {
        "id": "260c68db6566b578",
        "type": "inject",
        "z": "09d5526201237c58",
        "g": "ef5c7c32fc9239f9",
        "name": "Health Check",
        "props": [],
        "repeat": "21600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1020,
        "y": 540,
        "wires": [
            [
                "deb90d9eb94f426f"
            ]
        ]
    },
    {
        "id": "5f043ada6e432f9a",
        "type": "mqtt out",
        "z": "09d5526201237c58",
        "g": "ef5c7c32fc9239f9",
        "name": "Culture → Status",
        "topic": "",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bb5d48e46d3d908d",
        "x": 1450,
        "y": 540,
        "wires": []
    },
    {
        "id": "42dbace5d46e024d",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "f1c22f4154595f02",
        "name": "Failsafe engine (test)",
        "func": "// ==========================================\n// FAILSAFE ENGINE — VERSION INTERMÉDIAIRE\n// ==========================================\n\n// Par défaut : tout autorisé\nlet allowClimat = true;\nlet allowArrosage = true;\n\n// Cas simple : phase drying → pas d’arrosage\nconst culture = flow.get(\"culture_phase\");\n\nif (culture === \"drying\") {\n    allowArrosage = false;\n}\n\n// Publication STATUS\nconst statusMsg = {\n    topic: \"serre/failsafe/status\",\n    payload: {\n        active: !allowArrosage,\n        reason: culture === \"drying\" ? \"DRYING_PHASE\" : null,\n        details: culture === \"drying\" ? \"Arrosage interdit en phase drying\" : null\n    },\n    retain: true\n};\n\n// Publication ALLOW\nconst allowMsg = {\n    topic: \"serre/failsafe/allow\",\n    payload: {\n        climat: allowClimat,\n        arrosage: allowArrosage\n    },\n    retain: true\n};\n\n// ⚠️ 2 sorties obligatoires\nreturn [statusMsg, allowMsg];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 2040,
        "wires": [
            [
                "7dcacfcf5038772c"
            ],
            [
                "98f60e5658145079"
            ]
        ]
    },
    {
        "id": "1c276bf49334e81c",
        "type": "inject",
        "z": "09d5526201237c58",
        "g": "f1c22f4154595f02",
        "name": "Trigger failsafe",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 2040,
        "wires": [
            [
                "42dbace5d46e024d"
            ]
        ]
    },
    {
        "id": "7dcacfcf5038772c",
        "type": "mqtt out",
        "z": "09d5526201237c58",
        "g": "f1c22f4154595f02",
        "name": "Failsafe → Status",
        "topic": "",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bb5d48e46d3d908d",
        "x": 630,
        "y": 2020,
        "wires": []
    },
    {
        "id": "98f60e5658145079",
        "type": "mqtt out",
        "z": "09d5526201237c58",
        "g": "f1c22f4154595f02",
        "name": "Failsafe → Allow",
        "topic": "",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bb5d48e46d3d908d",
        "x": 620,
        "y": 2080,
        "wires": []
    },
    {
        "id": "91e67f3ec48184be",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "failsafe_allow",
        "topic": "serre/failsafe/allow",
        "qos": "0",
        "datatype": "json",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 680,
        "wires": [
            [
                "4b70210c305e50ec"
            ]
        ]
    },
    {
        "id": "4b70210c305e50ec",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "Set failsafe arrosage",
        "func": "if (msg.payload && typeof msg.payload.arrosage === \"boolean\") {\n    flow.set(\"allow_arrosage\", msg.payload.arrosage);\n}\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "3aac288a1d9b2366",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "failsafe_allow",
        "topic": "serre/failsafe/allow",
        "qos": "0",
        "datatype": "json",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 740,
        "wires": [
            [
                "b3f3e937e8dc2bca"
            ]
        ]
    },
    {
        "id": "b3f3e937e8dc2bca",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "37c59a075e86548c",
        "name": "Set failsafe climat",
        "func": "if (msg.payload && typeof msg.payload.climat === \"boolean\") {\n    flow.set(\"allow_climat\", msg.payload.climat);\n}\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "7d88c989d6a58caa",
        "type": "link in",
        "z": "09d5526201237c58",
        "g": "4f5c507a698122b0",
        "name": "hum_sol_value",
        "links": [
            "d3e83b59d2b3ea1b"
        ],
        "x": 645,
        "y": 980,
        "wires": [
            [
                "0d66a61c468f0d5c"
            ]
        ]
    },
    {
        "id": "0d66a61c468f0d5c",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "4f5c507a698122b0",
        "name": "Check hum sol alive",
        "func": "// === FAILSAFE HUM_SOL (robuste avec redémarrage ESP32) ===\n\nconst now = Date.now();\nconst lastTs = flow.get(\"hum_sol_last_ts\");\nlet okCount = flow.get('arrosage_ok_count') || 0;\n\n// === CAS : vraie mesure hum_sol ===\nif (msg._from_hum_sol === true) {\n    flow.set(\"hum_sol_last_ts\", now);\n\n    const v = Number(msg.payload);\n    if (isNaN(v)) {\n        node.warn(\"Failsafe arrosage | hum_sol invalide\");\n        flow.set('arrosage_ok_count', 0);\n        return {\n            topic: \"serre/failsafe/allow.arrosage\",\n            payload: false,\n            retain: true\n        };\n    }\n\n    // Mesure valide : incrémente compteur OK\n    okCount = okCount + 1;\n    flow.set('arrosage_ok_count', okCount);\n    node.warn(\"Failsafe arrosage | hum_sol OK (okCount=\" + okCount + \")\");\n\n    return {\n        topic: \"serre/failsafe/allow.arrosage\",\n        payload: okCount >= 2, // autorise seulement après 2 OK consécutifs\n        retain: true\n    };\n}\n\n// === CAS WATCHDOG ===\nconst MAX_DELAY = 10 * 60 * 1000; // 10 minutes\n\nif (!lastTs || now - lastTs > MAX_DELAY) {\n    node.warn(\"Failsafe arrosage | hum_sol muet (timeout)\");\n    flow.set('arrosage_ok_count', 0);\n    return {\n        topic: \"serre/failsafe/allow.arrosage\",\n        payload: false,\n        retain: true\n    };\n}\n\n// === Tout va bien (pas de nouvelle mesure, mais pas de timeout) ===\n// Rester conservateur: autoriser seulement si déjà confirmé par 2 mesures OK\nreturn {\n    topic: \"serre/failsafe/allow.arrosage\",\n    payload: okCount >= 2,\n    retain: true\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 980,
        "wires": [
            [
                "5480ec5e07655274"
            ]
        ]
    },
    {
        "id": "5480ec5e07655274",
        "type": "mqtt out",
        "z": "09d5526201237c58",
        "g": "4f5c507a698122b0",
        "name": "Failsafe → Allow Arrosage",
        "topic": "",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bb5d48e46d3d908d",
        "x": 1240,
        "y": 980,
        "wires": []
    },
    {
        "id": "6b0192c3bc157d1a",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "4f5c507a698122b0",
        "name": "Check capteur air alive",
        "func": "// Combine availability + dernier heartbeat et ajoute une hystérésis\nconst online = flow.get('capteur_air_online') === true;\nconst lastSeen = flow.get('capteur_air_last_seen') || 0;\nconst now = Date.now();\nconst ALIVE_MS = 10 * 60 * 1000; // 10 minutes\n\nconst aliveRecent = (now - lastSeen) < ALIVE_MS;\nconst alive = online || aliveRecent;\n\nlet offlineCount = flow.get('climat_offline_count') || 0;\nlet allow;\n\nif (alive) {\n  offlineCount = 0;\n  allow = true;\n} else {\n  offlineCount = offlineCount + 1;\n  // Hystérésis : basculer à false seulement après 2 ticks consécutifs OFFLINE\n  allow = offlineCount >= 2 ? false : true;\n}\n\nflow.set('climat_offline_count', offlineCount);\n\nnode.warn(`Failsafe climat | capteur air ${allow ? 'ONLINE' : 'OFFLINE'} (offlineCount=${offlineCount})`);\nreturn {\n  topic: 'serre/failsafe/allow.climat',\n  payload: allow,\n  retain: true\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 920,
        "wires": [
            [
                "a09bf5164ebd71ce",
                "607889d47084798b"
            ]
        ]
    },
    {
        "id": "a09bf5164ebd71ce",
        "type": "mqtt out",
        "z": "09d5526201237c58",
        "g": "4f5c507a698122b0",
        "name": "Failsafe → Allow Climat",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bb5d48e46d3d908d",
        "x": 1260,
        "y": 920,
        "wires": []
    },
    {
        "id": "2a1836fba230807b",
        "type": "inject",
        "z": "09d5526201237c58",
        "g": "4f5c507a698122b0",
        "name": "Tick failsafe climat",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "45",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 720,
        "y": 880,
        "wires": [
            [
                "6b0192c3bc157d1a",
                "7094613bf897e3e5"
            ]
        ]
    },
    {
        "id": "7094613bf897e3e5",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "4f5c507a698122b0",
        "name": "Check debounce capteur air",
        "func": "const lastChangeTs = flow.get('capteur_air_last_change_ts') || 0;\nconst now = Date.now();\nconst DEBOUNCE_MS = 5000; // 5 secondes\nconst pendingState = flow.get('capteur_air_pending_state');\nconst currentState = flow.get('capteur_air_online') === true;\n\n// Valider uniquement si stable et différent du courant\nif (pendingState !== undefined && now - lastChangeTs >= DEBOUNCE_MS && pendingState !== currentState) {\n    flow.set('capteur_air_online', pendingState);\n    flow.set('capteur_air_pending_state', undefined);\n    node.warn('Capteur air ' + (pendingState ? 'ONLINE' : 'OFFLINE') + ' (validé par debounce)');\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "381043caf4f2c31e",
        "type": "inject",
        "z": "09d5526201237c58",
        "g": "4f5c507a698122b0",
        "name": "Watchdog hum_sol",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 730,
        "y": 1020,
        "wires": [
            [
                "0d66a61c468f0d5c"
            ]
        ]
    },
    {
        "id": "a4cde42c271cc6f1",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Heartbeat capteur_air",
        "func": "flow.set(\"capteur_air_last_seen\", Date.now());\nnode.warn(\"Heartbeat capteur air reçu\");\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1180,
        "wires": [
            [
                "81dd1840e267981b"
            ]
        ]
    },
    {
        "id": "2832291d9e084c6a",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Z2M availability capteur air",
        "topic": "zigbee2mqtt/aqara_temperature/availability",
        "qos": "0",
        "datatype": "json",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1460,
        "wires": [
            [
                "1179ce3287b8a613",
                "b4eca8e3eaa9c931"
            ]
        ]
    },
    {
        "id": "b4eca8e3eaa9c931",
        "type": "switch",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Filtre debug availability",
        "property": "payload.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "online",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "offline",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 1400,
        "wires": [
            [
                "d6a8a21aff435687"
            ],
            [
                "d6a8a21aff435687"
            ]
        ]
    },
    {
        "id": "1179ce3287b8a613",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Set capteur air availability",
        "func": "// Accepte payload JSON {state:online|offline} ou string 'online'/'offline'\nlet state;\nif (typeof msg.payload === 'object' && msg.payload !== null) {\n    state = (msg.payload.state || '').toLowerCase();\n} else if (typeof msg.payload === 'string') {\n    state = msg.payload.trim().toLowerCase();\n}\nif (state !== 'online' && state !== 'offline') {\n    node.warn('Availability capteur air inconnue : ' + JSON.stringify(msg.payload));\n    return null;\n}\n\nconst newState = (state === 'online');\nconst currentState = flow.get('capteur_air_online') === true;\nlet pendingState = flow.get('capteur_air_pending_state');\nlet lastChangeTs = flow.get('capteur_air_last_change_ts') || 0;\nconst now = Date.now();\nconst DEBOUNCE_MS = 5000; // 5 secondes de stabilité requises\n\nif (pendingState === undefined) {\n    if (newState !== currentState) {\n        flow.set('capteur_air_pending_state', newState);\n        flow.set('capteur_air_last_change_ts', now);\n        node.warn('Availability change détecté: ' + (newState ? 'ONLINE' : 'OFFLINE') + ' (debounce démarré)');\n    }\n} else {\n    if (newState !== pendingState) {\n        flow.set('capteur_air_pending_state', newState);\n        flow.set('capteur_air_last_change_ts', now);\n        node.warn('Availability change re-détecté: ' + (newState ? 'ONLINE' : 'OFFLINE') + ' (debounce relancé)');\n    } else {\n        if (now - lastChangeTs >= DEBOUNCE_MS && pendingState !== currentState) {\n            flow.set('capteur_air_online', pendingState);\n            flow.set('capteur_air_pending_state', undefined);\n            node.warn('Capteur air ' + (pendingState ? 'ONLINE' : 'OFFLINE') + ' (validé après debounce)');\n        }\n    }\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1460,
        "wires": [
            [
                "5ac194f9fbe6993b"
            ]
        ]
    },
    {
        "id": "607889d47084798b",
        "type": "debug",
        "z": "09d5526201237c58",
        "g": "4f5c507a698122b0",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 860,
        "wires": []
    },
    {
        "id": "5ac194f9fbe6993b",
        "type": "link out",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "Link air availibility",
        "mode": "link",
        "links": [
            "8a17b6ec92990948"
        ],
        "x": 645,
        "y": 1460,
        "wires": []
    },
    {
        "id": "8a17b6ec92990948",
        "type": "link in",
        "z": "09d5526201237c58",
        "g": "4f5c507a698122b0",
        "name": "link in 1",
        "links": [
            "5ac194f9fbe6993b"
        ],
        "x": 775,
        "y": 920,
        "wires": [
            [
                "6b0192c3bc157d1a"
            ]
        ]
    },
    {
        "id": "d6a8a21aff435687",
        "type": "debug",
        "z": "09d5526201237c58",
        "g": "012ed32f28fd8478",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 1400,
        "wires": []
    },
    {
        "id": "b40cbe1a7a0a65b4",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "3090a3fb4e2eee15",
        "name": "failsafe_allow.climat",
        "topic": "serre/failsafe/allow.climat",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 2200,
        "wires": [
            [
                "6ac0c73308bddbaa",
                "b982956e4ec0e846"
            ]
        ]
    },
    {
        "id": "ad58ccbbdfdfa0b7",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "3090a3fb4e2eee15",
        "name": "failsafe_allow.arrosage",
        "topic": "serre/failsafe/allow.arrosage",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 2260,
        "wires": [
            [
                "6ac0c73308bddbaa",
                "ca82915aac3b4648"
            ]
        ]
    },
    {
        "id": "6ac0c73308bddbaa",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "3090a3fb4e2eee15",
        "name": "Failsafe global AND",
        "func": "// Failsafe global compositionnel (AND climat & arrosage)\n// Sécurité au démarrage : si un état manque, on publie false\n\n// Mémorise les états reçus\nif (typeof msg.payload === 'boolean') {\n    if (msg.topic === 'serre/failsafe/allow.climat') {\n        flow.set('failsafe_global_climat', msg.payload);\n    } else if (msg.topic === 'serre/failsafe/allow.arrosage') {\n        flow.set('failsafe_global_arrosage', msg.payload);\n    }\n}\n\nconst climat = flow.get('failsafe_global_climat');\nconst arrosage = flow.get('failsafe_global_arrosage');\n\n// Par défaut (état manquant) : false\nlet allow = false;\nif (typeof climat === 'boolean' && typeof arrosage === 'boolean') {\n    allow = climat && arrosage;\n}\n\nreturn {\n    topic: 'serre/failsafe/allow.global',\n    payload: allow,\n    retain: true\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 2200,
        "wires": [
            [
                "fc93452e5d481183"
            ]
        ]
    },
    {
        "id": "fc93452e5d481183",
        "type": "mqtt out",
        "z": "09d5526201237c58",
        "g": "3090a3fb4e2eee15",
        "name": "Failsafe → Allow Global",
        "topic": "serre/failsafe/allow.global",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bb5d48e46d3d908d",
        "x": 830,
        "y": 2200,
        "wires": []
    },
    {
        "id": "5164de425819f4e1",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "3090a3fb4e2eee15",
        "name": "failsafe_allow.global",
        "topic": "serre/failsafe/allow.global",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 2340,
        "wires": [
            [
                "2e9a3f53332e2ae8"
            ]
        ]
    },
    {
        "id": "2e9a3f53332e2ae8",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "3090a3fb4e2eee15",
        "name": "Set allow_global",
        "func": "// Stocke l'état du failsafe global dans le flow context\n// Sécurité: si payload non booléen, on ignore\nif (typeof msg.payload === 'boolean') {\n    flow.set('allow_global', msg.payload);\n    if (msg.payload === false) {\n        node.warn('Failsafe GLOBAL ACTIF');\n    } else {\n        node.warn('Failsafe GLOBAL LEVÉ');\n    }\n}\nreturn null;\n",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2260,
        "wires": []
    },
    {
        "id": "b982956e4ec0e846",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "3090a3fb4e2eee15",
        "name": "Set allow_climat",
        "func": "// Stocke l'état du failsafe climat dans le flow context\nif (typeof msg.payload === 'boolean') {\n    flow.set('allow_climat', msg.payload);\n}\nreturn null;\n",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2300,
        "wires": []
    },
    {
        "id": "ca82915aac3b4648",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "3090a3fb4e2eee15",
        "name": "Set allow_arrosage",
        "func": "// Stocke l'état du failsafe arrosage dans le flow context\nif (typeof msg.payload === 'boolean') {\n    flow.set('allow_arrosage', msg.payload);\n}\nreturn null;\n",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 2340,
        "wires": []
    },
    {
        "id": "7f32f9aec53366db",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "2556427a6951f00e",
        "name": "Web CMD IN",
        "topic": "serre/web/cmd/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 2460,
        "wires": [
            [
                "7877cc32c686ce5b"
            ]
        ]
    },
    {
        "id": "7877cc32c686ce5b",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "2556427a6951f00e",
        "name": "Validate Web CMD",
        "func": "// === VALIDATION COMMANDES WEB ===\n// Contraintes:\n// 1. Le failsafe global DOIT être actif (allow.global === true)\n// 2. Le payload doit être valide selon le topic\n// 3. Aucune dépendance bloquante vers le web\n\nconst allowGlobal = flow.get('allow_global');\n\n// Bloquer si failsafe global inactif\nif (allowGlobal !== true) {\n    node.warn('Commande web refusée (failsafe global)');\n    return null;\n}\n\n// Extraction du sous-topic (ex: serre/web/cmd/climat/temp_min → climat/temp_min)\nconst subtopic = msg.topic.replace('serre/web/cmd/', '');\n\nif (!subtopic) {\n    node.warn('Commande web refusée (topic invalide): ' + msg.topic);\n    return null;\n}\n\n// Validation du payload\nconst payload = msg.payload;\n\n// Mapping vers topics locaux\nlet localTopic = null;\n\n// Config climat\nif (subtopic.startsWith('climat/')) {\n    const param = subtopic.replace('climat/', '');\n    const allowed = ['temp_min', 'temp_max', 'temp_min_nuit', 'temp_max_nuit', 'hum_max', 'auto_mode', 'mode_nuit'];\n    if (allowed.includes(param)) {\n        localTopic = 'serre/config/' + param;\n    }\n}\n// Config arrosage\nelse if (subtopic.startsWith('arrosage/')) {\n    const param = subtopic.replace('arrosage/', '');\n    const allowed = ['sol_min', 'sol_max', 'pulse_duration', 'pause_duration', 'max_pulses'];\n    if (allowed.includes(param)) {\n        if (param.includes('pulse') || param.includes('pause') || param.includes('max')) {\n            localTopic = 'serre/config/arrosage/' + param;\n        } else {\n            localTopic = 'serre/config/' + param;\n        }\n    }\n}\n// Actionneurs (direct override - usage avancé)\nelse if (subtopic.startsWith('actionneur/')) {\n    const actuator = subtopic.replace('actionneur/', '');\n    const allowed = ['chauffage', 'extracteur', 'pompe', 'lampe'];\n    const parts = actuator.split('/');\n    if (parts.length === 2 && allowed.includes(parts[0]) && parts[1] === 'set') {\n        localTopic = 'serre/actionneurs/' + actuator;\n        // Validation payload ON/OFF\n        const val = String(payload).toUpperCase();\n        if (val !== 'ON' && val !== 'OFF') {\n            node.warn('Commande web refusée (payload invalide pour actionneur): ' + payload);\n            return null;\n        }\n    }\n}\n\nif (!localTopic) {\n    node.warn('Commande web refusée (topic non autorisé): ' + subtopic);\n    return null;\n}\n\n// Commande validée\nnode.warn('Commande web acceptée: ' + subtopic + ' → ' + localTopic + ' = ' + payload);\n\nreturn {\n    topic: localTopic,\n    payload: payload\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 2460,
        "wires": [
            [
                "57f6a243712df733"
            ]
        ]
    },
    {
        "id": "57f6a243712df733",
        "type": "mqtt out",
        "z": "09d5526201237c58",
        "g": "2556427a6951f00e",
        "name": "Web CMD → Local",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bb5d48e46d3d908d",
        "x": 650,
        "y": 2460,
        "wires": []
    },
    {
        "id": "c583f716d096f987",
        "type": "http response",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "HTTP Error Response",
        "statusCode": "",
        "headers": {
            "Content-Type": "application/json",
            "X-Content-Type-Options": "nosniff",
            "X-Frame-Options": "DENY",
            "X-XSS-Protection": "1; mode=block"
        },
        "x": 600,
        "y": 3140,
        "wires": []
    },
    {
        "id": "1c0700e1d51ab7da",
        "type": "http in",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "GET /api/status",
        "url": "/api/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 2580,
        "wires": [
            [
                "f19eafb65c2eed17"
            ]
        ]
    },
    {
        "id": "63c2e383c434603e",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Build Status Response",
        "func": "// Lecture de l'état depuis le flow context\nconst allowGlobal = flow.get('allow_global');\nconst allowClimat = flow.get('allow_climat');\nconst allowArrosage = flow.get('allow_arrosage');\nconst culturePhase = flow.get('culture_phase') || 'unknown';\n\n// Uptime Node-RED safe\nconst startTs = global.get('nr_start_ts');\nconst uptimeSec = startTs ? Math.floor((Date.now() - startTs) / 1000) : null;\n\n// Construction de la réponse\nmsg.payload = {\n    uptime: uptimeSec,\n    culture_phase: culturePhase,\n    failsafe: {\n        global: allowGlobal,\n        climat: allowClimat,\n        arrosage: allowArrosage\n    },\n    timestamp: new Date().toISOString()\n};\n\nmsg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 2580,
        "wires": [
            [
                "36b14a4b55af29ff"
            ]
        ]
    },
    {
        "id": "36b14a4b55af29ff",
        "type": "http response",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {
            "Content-Type": "application/json",
            "X-Content-Type-Options": "nosniff",
            "X-Frame-Options": "DENY",
            "X-XSS-Protection": "1; mode=block"
        },
        "x": 860,
        "y": 2580,
        "wires": []
    },
    {
        "id": "2961b39b2d992b22",
        "type": "http in",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "GET /api/sensors",
        "url": "/api/sensors",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 2660,
        "wires": [
            [
                "cb0013a0afbd58f1"
            ]
        ]
    },
    {
        "id": "30bd5433fc12a0e8",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Build Sensors Response",
        "func": "// Lecture des capteurs depuis FLOW context\nconst airTemp = flow.get('temp_air');\nconst airHum = flow.get('hum_air');\nconst soilHum = flow.get('hum_sol');\n\nmsg.payload = {\n    air: {\n        temperature: airTemp !== undefined ? airTemp : null,\n        humidity: airHum !== undefined ? airHum : null\n    },\n    soil: {\n        humidity: soilHum !== undefined ? soilHum : null\n    },\n    timestamp: new Date().toISOString()\n};\n\nmsg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 2660,
        "wires": [
            [
                "95c5420766a925d5"
            ]
        ]
    },
    {
        "id": "95c5420766a925d5",
        "type": "http response",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {
            "Content-Type": "application/json",
            "X-Content-Type-Options": "nosniff",
            "X-Frame-Options": "DENY",
            "X-XSS-Protection": "1; mode=block"
        },
        "x": 860,
        "y": 2660,
        "wires": []
    },
    {
        "id": "c9ed75eff56af9cb",
        "type": "http in",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "GET /api/actuators",
        "url": "/api/actuators",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 2740,
        "wires": [
            [
                "d04383aeddb43531"
            ]
        ]
    },
    {
        "id": "33f30db24f2a13ab",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Build Actuators Response",
        "func": "// Return structured format with actuators array\n// Read from FLOW context where MQTT states are stored\nconst actuators = [\n    { name: 'lampe', state: flow.get('state_lampe') || 'unknown' },\n    { name: 'extracteur', state: flow.get('state_extracteur') || 'unknown' },\n    { name: 'pompe', state: flow.get('state_pompe') || 'unknown' },\n    { name: 'chauffage', state: flow.get('state_chauffage') || 'unknown' }\n];\n\nmsg.payload = {\n    actuators: actuators,\n    count: actuators.length,\n    timestamp: new Date().toISOString()\n};\n\nmsg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 2740,
        "wires": [
            [
                "976357ae21924209"
            ]
        ]
    },
    {
        "id": "976357ae21924209",
        "type": "http response",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {
            "Content-Type": "application/json",
            "X-Content-Type-Options": "nosniff",
            "X-Frame-Options": "DENY",
            "X-XSS-Protection": "1; mode=block"
        },
        "x": 860,
        "y": 2740,
        "wires": []
    },
    {
        "id": "579825f37df9ac58",
        "type": "http in",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "POST /api/actuators/:name",
        "url": "/api/actuators/:name",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 2820,
        "wires": [
            [
                "771c23876e8a0bb8"
            ]
        ]
    },
    {
        "id": "18d7a119991c12b6",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Validate & Publish",
        "func": "// Validation du failsafe global\nconst allowGlobal = flow.get('allow_global');\nif (allowGlobal !== true) {\n    msg.statusCode = 403;\n    msg.payload = { \n        error: 'Forbidden', \n        message: 'Command rejected: allow_global !== true',\n        reason: 'Failsafe global is inactive',\n        timestamp: new Date().toISOString()\n    };\n    return [null, msg]; // Route vers http response (error)\n}\n\n// Extraction du nom de l'actionneur depuis l'URL\nconst actuatorName = msg.req.params.name;\nconst allowedActuators = ['lampe', 'extracteur', 'pompe', 'chauffage', 'ventilation_atmo', 'ventilation_chauffage'];\n\n// Validation du nom\nif (!allowedActuators.includes(actuatorName)) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Invalid actuator name', allowed: allowedActuators };\n    return [null, msg]; // Route vers http response (error)\n}\n\n// Validation du payload\nconst state = msg.payload.state;\nif (state !== 'ON' && state !== 'OFF') {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Invalid state', message: 'State must be ON or OFF' };\n    return [null, msg];\n}\n\n// Préparer le message MQTT\nmsg.topic = `serre/actionneurs/${actuatorName}/set`;\nmsg.payload = state;\n\n// Préparer la réponse HTTP\nmsg._httpResponse = {\n    success: true,\n    actuator: actuatorName,\n    state: state,\n    topic: msg.topic,\n    timestamp: new Date().toISOString()\n};\n\nreturn [msg, null]; // Route vers MQTT out",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 2820,
        "wires": [
            [
                "a58c34705671be02",
                "d41b84164ae6756a"
            ],
            [
                "bbf4114aa8d3d73a"
            ]
        ]
    },
    {
        "id": "a58c34705671be02",
        "type": "mqtt out",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Publish to Local MQTT",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bb5d48e46d3d908d",
        "x": 1180,
        "y": 2720,
        "wires": []
    },
    {
        "id": "d41b84164ae6756a",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Build HTTP Response",
        "func": "msg.payload = msg._httpResponse || { success: true };\nmsg.statusCode = msg.statusCode || 200;\ndelete msg._httpResponse;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 2800,
        "wires": [
            [
                "bbf4114aa8d3d73a"
            ]
        ]
    },
    {
        "id": "bbf4114aa8d3d73a",
        "type": "http response",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {
            "Content-Type": "application/json",
            "X-Content-Type-Options": "nosniff",
            "X-Frame-Options": "DENY",
            "X-XSS-Protection": "1; mode=block"
        },
        "x": 1160,
        "y": 2820,
        "wires": []
    },
    {
        "id": "1a4a370c72eb11c6",
        "type": "http in",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "POST /api/culture/phase",
        "url": "/api/culture/phase",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 2900,
        "wires": [
            [
                "bebe53324d7c8650"
            ]
        ]
    },
    {
        "id": "6638ee59584c7d6f",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Validate & Publish",
        "func": "// Validation du failsafe global\nconst allowGlobal = flow.get('allow_global');\nif (allowGlobal !== true) {\n    msg.statusCode = 403;\n    msg.payload = { \n        error: 'Forbidden', \n        message: 'Command rejected: allow_global !== true',\n        reason: 'Failsafe global is inactive',\n        timestamp: new Date().toISOString()\n    };\n    return [null, msg]; // Route vers http response (error)\n}\n\n// Validation de la phase\nconst phase = msg.payload.phase;\nconst allowedPhases = ['germination', 'vegetatif', 'floraison', 'drying'];\n\nif (!allowedPhases.includes(phase)) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Invalid phase', allowed: allowedPhases };\n    return [null, msg];\n}\n\n// Stocker dans le context\nflow.set('culture_phase', phase);\n\n// Préparer le message MQTT\nmsg.topic = 'serre/culture/phase';\nmsg.payload = phase;\n\nmsg._httpResponse = {\n    success: true,\n    phase: phase,\n    topic: msg.topic,\n    timestamp: new Date().toISOString()\n};\n\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 2900,
        "wires": [
            [
                "c2a12695d70067ad",
                "8e530661e4c66220"
            ],
            [
                "90607c423f939a0f"
            ]
        ]
    },
    {
        "id": "c2a12695d70067ad",
        "type": "mqtt out",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Publish to Local MQTT",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bb5d48e46d3d908d",
        "x": 1100,
        "y": 3040,
        "wires": []
    },
    {
        "id": "8e530661e4c66220",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Build HTTP Response",
        "func": "msg.payload = msg._httpResponse || { success: true };\nmsg.statusCode = msg.statusCode || 200;\ndelete msg._httpResponse;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 2880,
        "wires": [
            [
                "90607c423f939a0f"
            ]
        ]
    },
    {
        "id": "90607c423f939a0f",
        "type": "http response",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {
            "Content-Type": "application/json",
            "X-Content-Type-Options": "nosniff",
            "X-Frame-Options": "DENY",
            "X-XSS-Protection": "1; mode=block"
        },
        "x": 1160,
        "y": 2900,
        "wires": []
    },
    {
        "id": "3186ed7247814a2c",
        "type": "http in",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "POST /api/override",
        "url": "/api/override",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 2980,
        "wires": [
            [
                "3cec315f212c28c0"
            ]
        ]
    },
    {
        "id": "9641bf49fb1b8beb",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Validate & Publish",
        "func": "/**\n * API OVERRIDE — SAFETY CONTROL\n *\n * This endpoint controls failsafe states.\n * IMPORTANT: Does NOT check allow_global - this is the override/bypass endpoint!\n *\n * Security is ensured by:\n * - Bearer token authentication only\n * - Strict payload validation\n * - Limited targets\n */\n\n// Validation du target\nconst target = msg.payload?.target;\nconst allowedTargets = ['global', 'climat', 'arrosage'];\n\nif (!allowedTargets.includes(target)) {\n    msg.statusCode = 400;\n    msg.payload = {\n        error: 'Invalid target',\n        allowed: allowedTargets,\n        timestamp: new Date().toISOString()\n    };\n    return [null, msg];\n}\n\n// Validation de l'état\nconst state = msg.payload?.state;\nif (typeof state !== 'boolean') {\n    msg.statusCode = 400;\n    msg.payload = {\n        error: 'Invalid state',\n        message: 'State must be boolean',\n        timestamp: new Date().toISOString()\n    };\n    return [null, msg];\n}\n\n// Préparer la commande MQTT failsafe\nmsg.topic = `serre/failsafe/allow.${target}`;\nmsg.payload = state;\nmsg.retain = true;\n\n// IMMÉDIATEMENT mettre à jour le contexte flow\nif (target === 'global') {\n    flow.set('allow_global', state);\n    node.warn(`Override API | allow_global = ${state}`);\n} else if (target === 'climat') {\n    flow.set('allow_climat', state);\n    node.warn(`Override API | allow_climat = ${state}`);\n} else if (target === 'arrosage') {\n    flow.set('allow_arrosage', state);\n    node.warn(`Override API | allow_arrosage = ${state}`);\n}\n\n// Réponse HTTP\nmsg._httpResponse = {\n    success: true,\n    target: target,\n    state: state,\n    topic: msg.topic,\n    timestamp: new Date().toISOString()\n};\n\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 2980,
        "wires": [
            [
                "711e717584767af0",
                "adfad19cd290a057"
            ],
            [
                "16f1e7ddb4ae206f"
            ]
        ]
    },
    {
        "id": "711e717584767af0",
        "type": "mqtt out",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Publish to Local MQTT",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bb5d48e46d3d908d",
        "x": 1020,
        "y": 3120,
        "wires": []
    },
    {
        "id": "adfad19cd290a057",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Build HTTP Response",
        "func": "msg.payload = msg._httpResponse || { success: true };\nmsg.statusCode = msg.statusCode || 200;\ndelete msg._httpResponse;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 2960,
        "wires": [
            [
                "16f1e7ddb4ae206f"
            ]
        ]
    },
    {
        "id": "16f1e7ddb4ae206f",
        "type": "http response",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {
            "Content-Type": "application/json",
            "X-Content-Type-Options": "nosniff",
            "X-Frame-Options": "DENY",
            "X-XSS-Protection": "1; mode=block"
        },
        "x": 1160,
        "y": 2980,
        "wires": []
    },
    {
        "id": "f19eafb65c2eed17",
        "type": "subflow:00a2caa125ce1a95",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "",
        "x": 360,
        "y": 2580,
        "wires": [
            [
                "63c2e383c434603e"
            ],
            [
                "c583f716d096f987"
            ]
        ]
    },
    {
        "id": "cb0013a0afbd58f1",
        "type": "subflow:00a2caa125ce1a95",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "",
        "x": 360,
        "y": 2660,
        "wires": [
            [
                "30bd5433fc12a0e8"
            ],
            [
                "c583f716d096f987"
            ]
        ]
    },
    {
        "id": "d04383aeddb43531",
        "type": "subflow:00a2caa125ce1a95",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "",
        "x": 360,
        "y": 2740,
        "wires": [
            [
                "33f30db24f2a13ab"
            ],
            [
                "c583f716d096f987"
            ]
        ]
    },
    {
        "id": "771c23876e8a0bb8",
        "type": "subflow:00a2caa125ce1a95",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "",
        "x": 380,
        "y": 2820,
        "wires": [
            [
                "18d7a119991c12b6"
            ],
            [
                "c583f716d096f987"
            ]
        ]
    },
    {
        "id": "bebe53324d7c8650",
        "type": "subflow:00a2caa125ce1a95",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "",
        "x": 380,
        "y": 2900,
        "wires": [
            [
                "6638ee59584c7d6f"
            ],
            [
                "c583f716d096f987"
            ]
        ]
    },
    {
        "id": "3cec315f212c28c0",
        "type": "subflow:00a2caa125ce1a95",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "",
        "x": 360,
        "y": 2980,
        "wires": [
            [
                "9641bf49fb1b8beb"
            ],
            [
                "c583f716d096f987"
            ]
        ]
    },
    {
        "id": "d1c3581ff10fd61c",
        "type": "inject",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Init failsafes at startup",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 1,
        "topic": "",
        "payload": "null",
        "payloadType": "null",
        "x": 160,
        "y": 3300,
        "wires": [
            [
                "52faaa1b1a2f3c2c"
            ]
        ]
    },
    {
        "id": "52faaa1b1a2f3c2c",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Initialize failsafes from retained",
        "func": "// Au démarrage, initialiser les failsafes avec des valeurs par défaut (false/sûr)\n// Cela permet au GET /api/status de retourner quelque chose de sensé\n\nconst allow_climat = flow.get('allow_climat');\nconst allow_arrosage = flow.get('allow_arrosage');\n\n// Si undefined, initialiser à false (mode sûr au démarrage)\nif (typeof allow_climat !== 'boolean') {\n    flow.set('allow_climat', false);\n    node.warn('Failsafe init | allow_climat initialized to false');\n}\n\nif (typeof allow_arrosage !== 'boolean') {\n    flow.set('allow_arrosage', false);\n    node.warn('Failsafe init | allow_arrosage initialized to false');\n}\n\n// Calculer allow_global = allow_climat AND allow_arrosage\nconst climat = flow.get('allow_climat') || false;\nconst arrosage = flow.get('allow_arrosage') || false;\nconst allow_global = climat && arrosage;\n\nflow.set('allow_global', allow_global);\nnode.warn(`Failsafe init | allow_global = ${allow_global} (climat=${climat}, arrosage=${arrosage})`);\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 3300,
        "wires": [
            []
        ]
    },
    {
        "id": "dc531bc828674d50",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Update Context from MQTT",
        "func": "// Mettre a jour le contexte flow basé sur le topic MQTT reçu\n// Topics: serre/failsafe/allow.global, serre/failsafe/allow.climat, serre/failsafe/allow.arrosage\n\nconst topic = msg.topic;\nconst value = msg.payload;\n\nif (typeof value !== 'boolean') {\n    node.warn('Failsafe override | payload must be boolean');\n    return null;\n}\n\nif (topic === 'serre/failsafe/allow.global') {\n    flow.set('allow_global', value);\n    node.warn(`Failsafe override | allow_global = ${value}`);\n} else if (topic === 'serre/failsafe/allow.climat') {\n    flow.set('allow_climat', value);\n    node.warn(`Failsafe override | allow_climat = ${value}`);\n} else if (topic === 'serre/failsafe/allow.arrosage') {\n    flow.set('allow_arrosage', value);\n    node.warn(`Failsafe override | allow_arrosage = ${value}`);\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 3360,
        "wires": [
            []
        ]
    },
    {
        "id": "7a5aa2bc4ca3ad99",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Listen allow.global",
        "topic": "serre/failsafe/allow.global",
        "qos": "2",
        "datatype": "auto",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 3360,
        "wires": [
            [
                "dc531bc828674d50"
            ]
        ]
    },
    {
        "id": "7171901dcdef4252",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Listen allow.climat",
        "topic": "serre/failsafe/allow.climat",
        "qos": "2",
        "datatype": "auto",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 3400,
        "wires": [
            [
                "dc531bc828674d50"
            ]
        ]
    },
    {
        "id": "beefb8d880c7d7ab",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Listen allow.arrosage",
        "topic": "serre/failsafe/allow.arrosage",
        "qos": "2",
        "datatype": "auto",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 3440,
        "wires": [
            [
                "dc531bc828674d50"
            ]
        ]
    },
    {
        "id": "dc5ff5709f08b5f7",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Listen lampe state",
        "topic": "serre/actionneurs/lampe/state",
        "qos": "2",
        "datatype": "auto",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 3500,
        "wires": [
            [
                "ade2cf216f6a8e87"
            ]
        ]
    },
    {
        "id": "4318acd00f3d5398",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Listen extracteur state",
        "topic": "serre/actionneurs/extracteur/state",
        "qos": "2",
        "datatype": "auto",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 3540,
        "wires": [
            [
                "5e5cb5281bc309a9"
            ]
        ]
    },
    {
        "id": "c4b7d98e82562fe6",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Listen pompe state",
        "topic": "serre/actionneurs/pompe/state",
        "qos": "2",
        "datatype": "auto",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 3580,
        "wires": [
            [
                "09fab1985d337f51"
            ]
        ]
    },
    {
        "id": "c39994028d07d717",
        "type": "mqtt in",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Listen chauffage state",
        "topic": "serre/actionneurs/chauffage/state",
        "qos": "2",
        "datatype": "auto",
        "broker": "bb5d48e46d3d908d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 3620,
        "wires": [
            [
                "52a9df6087078e58"
            ]
        ]
    },
    {
        "id": "ade2cf216f6a8e87",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Store lampe state",
        "func": "flow.set('state_lampe', String(msg.payload));\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 3500,
        "wires": [
            []
        ]
    },
    {
        "id": "5e5cb5281bc309a9",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Store extracteur state",
        "func": "flow.set('state_extracteur', String(msg.payload));\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 3540,
        "wires": [
            []
        ]
    },
    {
        "id": "09fab1985d337f51",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Store pompe state",
        "func": "flow.set('state_pompe', String(msg.payload));\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 3580,
        "wires": [
            []
        ]
    },
    {
        "id": "52a9df6087078e58",
        "type": "function",
        "z": "09d5526201237c58",
        "g": "a9525423c34e0954",
        "name": "Store chauffage state",
        "func": "flow.set('state_chauffage', String(msg.payload));\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 3620,
        "wires": [
            []
        ]
    },
    {
        "id": "bb5d48e46d3d908d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "nodered-serre",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]